DOMAIN=http://localhost:3000/
CLIENT_ID=
CLIENT_SECRET=
SECRET=set -gx SECRET (openssl rand -hex 32); echo -n $SECRET | begin; type pbcopy >/dev/null; and pbcopy; or xclip -selection clipboard; end
ANALYZE=true





 