# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more details: https://prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL=""

# Environment variables declared in this file are automatically made available to the client through the Next.js build process.
# See the documentation for more details: https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables#client-side-environment-variables

# Better Auth Secret
BA_SECRET=""
DOMAIN=""
ADMIN_USERS=""

# OAuth Providers
# Create your app and get your client ID and secret from the following URLs:

# Google: https://console.developers.google.com/
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""

# GitHub: https://github.com/settings/developers
NEXT_PUBLIC_GITHUB_CLIENT_ID=""

# Facebook: https://developers.facebook.com/apps/
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=""

# Twitter: https://developer.twitter.com/en/portal/projects-and-apps
NEXT_PUBLIC_TWITTER_CLIENT_ID=""

# Discord: https://discord.com/developers/applications
NEXT_PUBLIC_DISCORD_CLIENT_ID=""

# LinkedIn: https://www.linkedin.com/developers/apps/
NEXT_PUBLIC_LINKEDIN_CLIENT_ID=""

# Apple: https://developer.apple.com/account/resources/identifiers/list
NEXT_PUBLIC_APPLE_CLIENT_ID=""
